<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Object Detection API</title>
    <link rel='shortcut icon' href='favicon.ico'/>

    <script language="javascript" type="text/javascript">

      function DrawLabels(name, box) {
          // setTimeout(function() {
          //   var photo = document.getElementById("photo");
          //   var childElement = document.createElement('div');
          //   childElement.innerHTML = '<p>' + name + '</p>';
          //   childElement.style.position = "absolute";
          //   childElement.style.left =  box[0] + "px";
          //   childElement.style.top =  box[3] + "px";
          //   photo.appendChild(childElement);
          // }, 1000)
      }

      function WaitDisplay() {
        target = document.getElementById("result");
        target.style.display="none";
        target = document.getElementById("loading");
        target.style.display="";
        setTimeout(function() {
          document.getElementById("upload").submit();}, 100);
        }

        // {% for item in result['object_classes'] %}
        //     var boxes = {{item['boxes']| tojson}};
        //     var object_class = {{item['name'] | tojson}};
        //     DrawLabels(object_class, boxes)
        // {% endfor %}
    </script>

  </head>
  <body>

    {% from "_formhelpers.html" import render_field %}

    <h1>Object Detection API</h1>
    <h3>Upload a color photo file.</h3>
    <div>
      <form id="upload" method=post action={{ url_for('post') }} enctype="multipart/form-data">
        <p>Paste URL: <input type="text" name="url" value="https://www.colourbox.com/preview/2695886-happy-santa-claus-with-sack-of-gifts.jpg" width="200px" placeholder="Santa URL"/></p>
        <p><input type="button" onclick="WaitDisplay();" value="Find Santa"></p>
      </form>
    </div>

    <hr>

    <div id="result">
      {% if result|length > 0 %}
        <div id="photo">
          <img src="{{ result['image'] }}" align="left" hspace="10" vspace="10">
        </div>
      {% endif %}
    </div>
    <div id="loading" style="display:none">
      <h2>Detecting Objects...</h2>
    </div>

  </body>
</html>
